.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/

wwwroot/dist/
wwwroot/node_modules/

.idea/

*.rsuser
*.sln.docstates

*.log

*.nupkg
*.snupkg
packages/
*.vsix

appsettings.Development.json
appsettings.Local.json

*.db
*.sqlite
*.pdb